nav {
    display: block; 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


nav ul li a {
    display: block;
    color: #2a1b08;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

body {
    font-family: Arial;
    color: #666;
    text-align: center;
}

#container {
    width: 800px;
    height: 547px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#container div {
    position: absolute;
    width: 150px;
    height: 150px;
}

#container img {
    display: block;
    position: absolute;
    transition: all 3s ease;
}

#topleft {
    top: 0;
    left: 0;
}

#topright {
    top: 0;
    right: 0;
}

#bottomleft {
    bottom: 0;
    left: 0;
}

#bottomright {
    bottom: 0;
    right: 0;
}

#center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start {
    width: 800px;
    left: 0;
    top: 0;
}

.topleft,
.topright,
.bottomleft,
.bottomright,
.center {
    width: 3768px;
}

.topleft {
    top: 0;
    left: 0;
}

.topright {
    top: 0;
    left: -2968px;
}

.bottomleft {
    left: 0;
    top: -2020px;
}

.bottomright {
    top: -2020px;
    left: -2968px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}