
body{
    background: black; 
}

h1 {
    margin-top: 0;
    padding-left: 30px; 
    padding-top: 50px;
     font-family: "Chakra Petch", system-ui;
     font-weight: 400;
     font-style:normal;
     font-size: 60px;
     color: white;
 }