/* note its a little rough right now but will be cleaned up later*/

.trapezoid {
	border-bottom: 70px solid #841e1e;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 100%;
    z-index:1; 
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

header{
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}

.open {
    font-size: 50px; 
    font-family: "Barrio", system-ui; 
    font-weight: 400; 
    color: black; 
    display: flex; 
    align-items: center; 
    justify-content: center; 

    position: relative;
    z-index: 2; 
    
}

img{
    padding-top: 10px; 
    position: absolute; 
    top: 100px; 
    margin-right: 10px; 
    z-index: 3; 
}


/*.open {
    font-size: 60px;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style:normal;
    font-size: 60px;
    color: black; 
    display: flex; 
    flex: 1; 
    margin: auto; 
    align-items: center;
}

img {
    position: relative;
    top: 90px;
}
*/

body {
    background-color: #82ad65; 
    background-size: cover; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    border-style: none;
}


main {
    border-radius: 5px;
    color: rgb(75, 44, 33);
    background-color: rgb(244, 232, 210);
    padding: 4em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 80px;
    border: 2px solid rgb(60, 6, 6);
    position: relative;
    
}

#myform {
    line-height: 3em;
    text-align: center;
    padding-top: 40px; 
    font-size: 15px; 
    font-family: "Special Elite", system-ui; 
    font-weight: 400; 
    color: black;
    
}



footer {
    padding: 40px; 
    color: white;
    text-align: center;
    }
