body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#494949;
    max-width: 600px;
    margin: auto;
    line-height: 1.5em;
}

img {
    display: block;
    max-width: 100%;
    border: 2px solid #333;
}

.inset {
    padding: 50px;
}