:root {
    --sliderwidth: 0;
}

body {
    margin: 0;
    padding: 0;
}
/* I added this for the section */
#one, #two {
    width: 100%;
    overflow-x: hidden;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}

.slider {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 200px;
}

.slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}
/* to slide to the right, the only thing that changes is the from and to */
@keyframes moveSliderRight {
    from { left: var(--sliderwidth); }
    to { left: 0; }
}

@keyframes moveSliderLeft {
    from { left: 0; }
    to { left: var(--sliderwidth); }
}
.right {
    animation-name: moveSliderRight;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.left {
    animation-name: moveSliderLeft;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
