:root {
    --sliderwidth: ;
}

@keyframes moveSlider {
    from { left: 0; }
    to { left: var(--sliderwidth) }
}

.animate {
    animation-name: moveSlider;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    /*background: rgb(255,255,255) height="100vh" width="100vh";
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(248,250,255,1) 46%, rgba(241,246,255,1) 62%, rgba(200,227,251,1) 80%);
    background-size: 100vh;
    background-position: center; 
    border-style: none;*/
    background: rgb(247,196,217);
    background: linear-gradient(0deg, rgba(247,196,217,1) 0%, rgba(255,249,238,1) 46%);
    width: 100vw;
    height:100vh;
}


h1{
    padding-top: 30px;
    font-size: 100px; 
    font-family: "Rock 3D", system-ui; 
    font-weight: 400; 
    color: rgb(123, 12, 77); 
    text-align: center;
}

main h2{
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-size: 35px; 
    letter-spacing: 0.15em;
    text-align: center; 
    color: #0d2570;
}

p{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
}

h2, p {
    margin: 0 0 1em 0;
}

p {
    line-height: 1.5em;
}

#text h2 {
    padding-top: 15px; 
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-size: 35px;  
    color: #9b0d52;
}

article img { 
    display: block;
    max-width: 100%;
    height: auto;
}

#two {
    margin-top: 10%; 
    width: 100%;
    overflow-x: hidden;
    height: 300px;
    position: relative;
}


.slider {
    display: flex;
    position: absolute;
    top:0;
    left: 0; 
    height: 350px;
    transition: all 60s linear; 
}

.sliderpaused {
    display: flex;
    position: absolute;
    top:0;
    height: 200px;
}

.slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: showing;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    display: grid;
    place-content:center;
}

.overlay article {
    box-sizing: border-box;
    background: rgb(255,255,255) height="100vh" width="100vh";
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(248,250,255,1) 46%, rgba(241,246,255,1) 62%, rgba(200,227,251,1) 80%);
    padding: 20px;
    width: 60vw;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    box-shadow: 0px 0px 20px 0px #000000;   
}

.overlay article img, .overlay article div {
    width: 50%;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border:none;
    background-color: transparent;
    color:tomato;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}
